<form [formGroup]="loginForm" (ngSubmit)="login()" class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" class="form-control"/>
      <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="text-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control"/>
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
        Password is required.
      </div>
    </div>
    <div class="form-group mt-3">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-center">
      <lottie-animation
        [lottieConfig]="{
          path: 'https://assets7.lottiefiles.com/packages/lf20_z6qsvyre.json',
          autoplay: true,
          loop: true
        }"
        [mode]="'draw'"
      ></lottie-animation>
    </div>
  </div>
</form>
