<form [formGroup]="loginForm" (ngSubmit)="login()" class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" class="form-control"/>
      <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched" class="text-danger">
        Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control"/>
      <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
        Password is required.
      </div>
    </div>
    <div class="form-group mt-3">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
      <div *ngIf="successfulLogin === false" class="error-message">
        Login failed. Please check your credentials.
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="successfulLogin">
    <lottie-animation
      [lottieConfig]="{
          path: 'https://assets3.lottiefiles.com/packages/lf20_jcpyfbsi.json',
          autoplay: true,
          loop: false
        }"
      [mode]="'layer'"
      (onCompleteEvent)="setNewStateAndCookies()"
    ></lottie-animation>
  </div>
</form>
